h4 {
    text-align: center;
}

.guide-banner { // Banner區塊
    height: 200px;
    width: 100%;
    background-color: $blue-1;
    color: $blue-4;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include desktop {
        text-align: left;
        padding-left: 10%;
    }
}

.guide-map { //立體地圖區塊
    width: 100%;
    background: linear-gradient(to bottom,
        rgba(139, 252, 239, 0.7),
        rgba(139, 252, 239, 0.5),
        rgba(139, 252, 239, 0));

    .camp-map {
        @include desktop {
            display: flex;
            justify-content: center;
        }
    }
    
    img { //立體地圖
        width: 100%;

        @include desktop {
            width: fit-content;
        }
    }
}

.guide-flags { //旗子區塊
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: hidden;

    .guide-flag-left { //左旗動畫
        animation: flagWaveLeft 0.8s infinite alternate;
    }
    
    .guide-flag-right { //右旗動畫
        animation: flagWaveRight 0.8s infinite alternate;
    }

    @keyframes flagWaveLeft { //左旗動畫
        0% {
            transform: rotateZ(10deg);
        }
        25% {
            transform: rotateZ(15deg);
        }
        50% {
            transform: rotateZ(20deg);
        }
        75% {
            transform: rotateZ(25deg);
        }
        100% {
            transform: rotateZ(20deg);
        }
    }
    
    @keyframes flagWaveRight { //右旗動畫
        0% {
            transform: rotateZ(-10deg);
        }
        25% {
            transform: rotateZ(-15deg);
        }
        50% {
            transform: rotateZ(-20deg);
        }
        75% {
            transform: rotateZ(-25deg);
        }
        100% {
            transform: rotateZ(-20deg);
        }
    }
}

.guide-card { //導覽卡片最外層
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(to bottom,
        rgba(226, 219, 62, 0.7),
        rgba(226, 219, 62, 0.5),
        rgba(226, 219, 62, 0.3),
    );
    position: relative;

    @include desktop {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .cat-icon , .dog-icon {
        @include desktop {
            width: 10%;
        }
    }

    //腳印1-10
    .paw1 {
        position: absolute;
        right: 0;
    }

    .paw2 {
        position: absolute;
        left: 0;
        top: 10%;
    }

    .paw3 {
        position: absolute;
        right: 0;
        top: 20%;
    }

    .paw4 {
        position: absolute;
        left: 0;
        top: 25%;
    }

    .paw5 {
        position: absolute;
        right: 0;
        top: 40%;
    }

    .paw6 {
        position: absolute;
        left: 0;
        top: 50%;
    }

    .paw7 {
        position: absolute;
        right: 0;
        top: 65%;
    }

    .paw8 {
        position: absolute;
        left: 0;
        top: 70%;
    }

    .paw9 {
        position: absolute;
        right: 0;
        top: 80%;
    }

    .paw10 {
        position: absolute;
        left: 0;
        top: 87%;
    }

    .cat-area-grass-img { //草跟貓的圖
        display: flex;
        align-items: last baseline;
        overflow: hidden;

        @include desktop {
            justify-content: space-evenly;
            gap: 100px;
        }
    }

    .area-card { //導覽卡片內層
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border-radius: $radius;
        background-color: $blue-2;
        color: $dark;

        @include desktop {
            max-width: 1200px;
            display: flex;
            flex-direction: row;
        }

        .card-dtl {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            @include desktop {
                padding: 30px;
                gap: 20px;
            }

            .area-title {
                width: 100%;
                padding-bottom: 10px;
                border-bottom: 1px solid;
            }
        }

        .dog-card-img ,
        .cat-card-img {
            @include desktop {
                display: flex;
                flex-direction: column;
            }
        }

        img { //導覽卡片內層圖片
            padding-bottom: 10px;
            width: 100%;
            border-radius: $radius;

            @include desktop {
                width: 480px;
            }
        }

        .area-dtl { //狗區貓區的卡片內容p
            padding: 10px 0px;

            @include desktop {
                width: 75%;
            }
        }

        .list { //狗區貓區的清單
            list-style-type: disc;

            @include desktop {
                font-size: 20px;
            }
        }

        .reserve-btn { //我要預約按鈕
            border: 0;
            width: 200px;
            height: 50px;
            border-radius: $radius;
            background-color: $blue-3;
            transition: background-color 0.3s ease;
            color: $white01;

            @include desktop {
                font-size: 18px;
            }

            // &:hover {
            //     @include desktop {
            //         background-color: $blue-4;
            //         color: $white01;
            //     }
            // }
        }
    }
}

.shelter-office-bg { //野良之家&辦公區背景
    background: linear-gradient(to bottom,
        rgba(226, 219, 62, 0.3),
        rgba(226, 219, 62, 0));

    .guide-shelter { //野良之家大區塊
        background-image: url(/src/assets/image/campGuide/shelter_big_img_pc_cut.jpg);
        background-size: cover ;
        background-repeat: no-repeat ;
        background-position: center;

        .guide-shelter-info { //野良之家的資訊
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            background-color: rgba(0, 0, 0, 0.2);
            color: $white01;
            padding: 10px 0px;

            @include desktop {
                gap: 30px;
                padding: 50px 0px;
            }
        }

        .guide-shelter-title {

            @include desktop {
                font-size: 32px;
                padding-bottom: 0;
            }
        }

        .guide-shelter-dtl { 
            font-size: 14px;

            @include desktop {
                font-size: 20px;
                padding-bottom: 0;
            }
        }

        .guide-shelter-btn {
            border: 0;
            width: 120px;
            height: 25px;
            border-radius: $radius;
            background-color: $brown-3;
            color: $dark;
            transition: background-color 0.3s ease;
            text-decoration: none;
            display: block;

            @include desktop {
                width: 200px;
                height: 50px;
                font-size: 18px;
            }
        }
    }
    
    .guide-office {
        background-image: url(/src/assets/image/campGuide/office.jpeg);
        background-size: cover ;
        background-repeat: no-repeat ;
        background-position: center;

        .area-office { //辦公區區塊
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            background-color: rgba(255, 255, 255, 0.2);
            color: $dark;
            padding: 10px;

            @include desktop {
                gap: 30px;
                padding: 50px 0px;
            }

            .office-title {

                @include desktop {
                    font-size: 32px;
                    padding: 0;
                }
            }

            .office-text { //辦公區文字
                font-size: 14px;

                @include desktop {
                    font-size: 20px;
                }
            }

            .office-list { //辦公區清單
                font-size: 14px;

                @include desktop {
                    font-size: 20px;
                }
            }
        }
    }
}

.guide-marquee { //跑馬燈
    padding: 20px 0px;
    color: $white01;
    background-color: $blue-3;
    white-space: nowrap; //內容保持在同一行
    overflow: hidden; //超出的先隱藏

    img { //跑馬燈圖片設置動畫
        animation: marquee 12s linear infinite;

        @include desktop {
            width: 100%;
        }
    }

    @keyframes marquee { //跑馬燈動畫
        from {
            transform: translateX(100%);
        }
    
        to {
            transform: translateX(-100%);
        }
    }
}

.guide-camp-info-bg { //營地資訊背景
    background: 
    linear-gradient(to bottom,
            rgba(213, 250, 255, 1),
            rgba(213, 250, 255, 0.8),
            rgba(213, 250, 255, 1));
    padding-bottom: 10px;

    .camp-cloud { //營地資訊雲朵一
        position: relative;
        animation: CloudMove 2s infinite linear;

        @include desktop {
            display: flex;
            justify-content: space-around;    
        }

        @keyframes CloudMove {
            0% {
                transform: translateY(10px);
            }

            50% {
                transform: translateY(15px);
            }

            100% {
                transform: translateY(10px);
            }
        }

        .cloud-m-small { //營地資訊雲朵二
            display: none;

            @include desktop {
                display: block;
            }
        }
        
        .camp-cloud-words { //營地資訊雲朵文字
            position: absolute;
            top: 35%;
            left: 30%;
            color: $yellow-3;

            @include desktop {
                top: 28%;
                left: 24%;
            }
        }
    }

    .guide-camp-info-title { //營地資訊
        background-image: url(/src/assets/image/campGuide/flag_left.png) , url(/src/assets/image/campGuide/flag_right.png) ;
        background-size: contain ;
        min-height: 100px;
        background-repeat: no-repeat ;
        background-position: left , right;  
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .guide-camp-info { //營地資訊帳篷區塊
        background-image: url(/src/assets/image/campGuide/tentntree.svg) ;
        background-size: contain ;
        background-repeat: no-repeat ;
        background-position: top;  
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .camp-info-title { //營地資訊標題
            color: $dark;

            @include desktop {
                font-size: 40px;
            }
        }

        .camp-info { //營地資訊帳篷文字
            font-size: 15px;
            color: $dark;

            @include desktop {
                font-size: 24px;
            }
        }

        .camp-info-map {
            display: flex;
            flex-direction: column;
            align-items: center;

            .roadmap {
                width: 100%;
                padding: 10px;
    
                @include desktop {
                    width: fit-content;
                    padding: 0px 10px 10px 10px ;
                }
            }

            .camp-info-social { //營地資訊帳篷社群媒體區塊
                display: flex;
                flex-direction: column;
                background-color: rgba(0, 0, 0, 0.2);
                color: $white01;
                border-radius: 10px;
                padding: 20px;
    
                img {
                    width: 20px;
    
                    @include desktop {
                        width: 30px;
                    }
                }
        
                .fb,
                .ig,
                .line { //營地資訊帳篷社群媒體文字
                    display: flex;
                    align-items: center;
                    padding-top: 3px;
    
                    @include desktop {
                        padding-top: 5px;
                    }
        
                    p { //營地資訊帳篷社群媒體文字
                        padding-left: 5px;
                        font-size: 15px;
    
                        @include desktop {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

.colorful-flags { //彩色三角旗
    width: 100%;
    animation: shine 2s infinite alternate;
}

@keyframes shine {

    //閃亮動畫            
    0% {
        filter: brightness(0.8);
    }

    50% {
        filter: brightness(1.2);
    }

    100% {
        filter: brightness(1.6); // 調整亮度
    }
}

.guide-facility-intro-bg { //設施介紹背景
    background: linear-gradient(to bottom,
            rgba(206, 211, 140, 0.8),
            rgba(206, 211, 140, 0.5),
            rgba(206, 211, 140, 0.3));

    .facility-cloud { //設施介紹雲朵
        position: relative;
        animation: CloudMove 2s infinite linear;

        @include desktop {
            display: flex;
            justify-content: space-around;
        }

        :first-child { //設施介紹雲朵一
            width: 100%;

            @include desktop {
                width: fit-content;
            }
        }

        .facility-cloud-words { //設施介紹雲朵文字
            position: absolute;
            top: 30%;
            left: 30%;
            color: $white01;

            @include desktop {
                top: 28%;
                left: 45%;
            }
        }
    }

    .facility-intro { //設施介紹區塊
        background-color: $yellow-2;
        padding: 30px 10px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .facility-intro-title { //設施介紹標題
            color: $dark ;

            @include desktop {
                font-size: 40px;
            }
        }

        .facility-slider-btn { //設施介紹圖片輪播按鈕
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 10px;

            @include desktop {
                justify-content: center;
            }

            .facility-btn {
                background: none;
                border: none;
            }
        }
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.5s;
    }

    .fade-enter,
    .fade-leave-to { //淡入淡出
        opacity: 0;
    }

    .facility-slider-container {

        .slider-image { //設施介紹圖片輪播
            width: 100%;
            height: auto;
        }
    }

    .facility-txt { //設施介紹文字
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .facility_trees { //設施介紹樹
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        animation: TreeMove 0.7s infinite linear;

        @keyframes TreeMove {
            0% {
                transform: translateY(0px);
            }
            50% {
                transform: translateY(-5px);
            }
            100% {
                transform: translateY(0px);
            }
        }

        @include desktop {
            justify-content: space-around;
        }
    
        img {
            width: 50px; 

            @include desktop {
                width: 220px;
            }
        }
    }
}

.guide-rules-bg { //營區規範背景
    background: linear-gradient(to bottom,
            rgba(206, 211, 140, 0.3),
            rgba(206, 211, 140, 0.5));

    .rules-title { //營區規範標題
        color: $dark ;

        @include desktop {
            font-size: 40px;
        }
    }
    

    .rules-cloud { //營區規範雲朵一
        position: relative;
        animation: CloudMove 2s infinite linear;

        @keyframes CloudMove {
            0% {
                transform: translateY(10px);
            }

            50% {
                transform: translateY(15px);
            }

            100% {
                transform: translateY(10px);
            }
        }

        @include desktop {
            display: flex;
            justify-content: flex-start;
        }

        .rules-cloud-words { //營區規範雲朵文字
            position: absolute;
            top: 30%;
            left: 30%;
            color: $dark;

            @include desktop {
                top: 28%;
                left: 8%;
            }
        }
    }

    .rule-icons { //營區規範貓狗icon
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        img { //營區規範貓狗icon

            @include desktop {
                width: 120px;
            }
        }
    }    

    .guide-rules { //營區規範區塊
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: $blue-2;
        border-radius: $radius;
        padding: 30px;
        margin: 0px 10px;

        img {
            width: 30px;
        }

        .guide-rules-list { //營區規範清單
            list-style: disc;

            li {
                @include desktop {
                    padding-bottom: 10px;
                }
            }
        }
    }    
    .rule-trees { //營區規範樹
        display: flex;
        align-items: center;
        justify-content: space-between;
        animation: TreeMove 1s infinite linear;

        @keyframes TreeMove {
            0% {
                transform: translateY(0px);
            }
            50% {
                transform: translateY(10px);
            }
            100% {
                transform: translateY(0px);
            }
        }
    }
}