.intro-container {
  width: 100%;
  padding: 20px;

  .title {
    width: 280px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
    border: 4px solid $blue-3;
    border-radius: $radius;
    text-align: center;
    @include tablet {
      width: 600px;
      margin: 20px auto 10px;
    }
    @include desktop {
      width: 720px;
      margin: 40px auto 0;
    }
  }

  .intro {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 0;

    li {
      margin-left: 20px;
      list-style: disc;
    }
  }
}
