.shelter-banner {
    // Banner區塊
    height: 200px;
    width: 100%;
    background-color: $blue-1;
    color: $blue-4;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include desktop {
        text-align: left;
        padding-left: 10%;
    }
}

.shelter-slider-container {
    //Banner輪播區塊
    position: relative;

    .slider-image {
        width: 100%;
        vertical-align: bottom;
    }
}

.shelter-slider-btn {
    //輪播按鈕
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
    top: 5%;

    .shelter-btn {
        background: none;
        border: none;
    }
}

.shelter-love-bg {
    //相愛相伴區塊
    background: linear-gradient(to bottom,
            rgba(243, 227, 91, 0.8),
            rgba(243, 227, 91, 0.5),
            rgba(243, 227, 91, 0.3));

    .slogan-img {
        //相愛相伴&不再流浪布條
        width: 100%;
        animation: shine 2s infinite alternate;
    }

    .shelter-slogan {
        position: relative;

        .white-heart {
            //白色愛心圖片
            width: 100%;
        }

        p {
            position: absolute;
            top: 30%;
            font-size: 28px;
            color: $dark;
            animation: movingWord 3s infinite linear;

            @include desktop {
                font-size: 60px;
                left: 10%;
            }
        }

        @keyframes movingWord {
            0% {
                transform: translateX(10px);
            }

            25% {
                transform: translateX(25px);
            }

            50% {
                transform: translateX(40px);
            }

            75% {
                transform: translateX(25px);
            }

            100% {
                transform: translateX(10px);
            }
        }

        @include desktop {
            @keyframes movingWord {
                0% {
                    transform: translateX(50px);
                }

                25% {
                    transform: translateX(100px);
                }

                50% {
                    transform: translateX(150px);
                }

                75% {
                    transform: translateX(100px);
                }

                100% {
                    transform: translateX(50px);
                }
            }
        }

        .paw1 {
            position: absolute;
            bottom: 0;
            left: 10%;

            @include desktop {
                width: 200px;
                bottom: 10%;
            }
        }

        .paw2 {
            position: absolute;
            top: 5%;
            right: 5%;

            @include desktop {
                width: 200px;
                right: 10%;
            }
        }
    }

    .shelter-round-imgs {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;

        @include desktop {
            padding-bottom: 50px;
        }

        .round-imgs {
            padding-left: 20%;

            @include desktop {
                padding: 0;
            }
        }

        .round {
            padding-top: 10px;
            width: 200px;
            overflow: hidden;
            animation: rotate 7s linear infinite;

            @include desktop {
                padding: 0px 10px;
                width:320px;
            }

            @keyframes rotate {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
        }

        .red-heart {
            width: 100px;
            position: absolute;
            top: 20%;
            right: 5%;
            animation: floatRedHeart 1.5s infinite linear;

            @include desktop {
                width: 200px;
                top: 0;
            }
        }

        @keyframes floatRedHeart {
            0% {
                transform: translateZ(0) rotate(-15deg);
            }

            50% {
                transform: translateZ(-50px) rotate(15deg);
            }

            100% {
                transform: translateZ(0) rotate(-15deg);
            }
        }

        .yellow-heart {
            position: absolute;
            bottom: 20%;
            left: 0;
            transform: rotate(15deg);
            animation: floatYellowHeart 1s infinite linear;

            @include desktop {
                width: 200px;
                bottom: 30%;
                left: 3%;
            }
        }

        @keyframes floatYellowHeart {
            0% {
                transform: translateZ(0) rotate(20deg);
            }

            50% {
                transform: translateZ(-50px) rotate(-20deg);
            }

            100% {
                transform: translateZ(0) rotate(20deg);
            }
        }

        .line-1 {
            position: absolute;
            left: 0;
            bottom: 5%;

            @include desktop {
                left: 15%;
                bottom: 35%;
            }
        }

        @keyframes shine {

            //閃亮動畫            
            0% {
                filter: brightness(0.5);
            }

            100% {
                filter: brightness(1.2); // 調整亮度
            }
        }
    }

    .home-cloud {
        width: 300px;
        position: relative;
        padding-top: 30px;
        animation: cloudMove 5s infinite linear;

        @include desktop {
            padding-top: 50px;
            width: 500px;
        }

        img {
            width: 250px;

            @include desktop {
                width: 500px;
            }
        }

        .home-cloud-words {
            position: absolute;
            left: 20%;
            top: 45%;
            z-index: 0;

            @include desktop {
                font-size: 24px;
                left: 30%;
            }
        }

        @keyframes cloudMove {
            0% {
                transform: translateX(-40px) translateY(10px);
            }

            25% {
                transform: translateX(-20px) translateY(20px);
            }

            50% {
                transform: translateX(0px) translateY(15px);
            }

            75% {
                transform: translateX(10px) translateY(20px);
            }

            100% {
                transform: translateX(20px) translateY(10px);
            }
        }

        @include desktop {
            @keyframes cloudMove {
                0% {
                    transform: translateX(-40px) translateY(10px);
                }
    
                25% {
                    transform: translateX(80px) translateY(20px);
                }
    
                50% {
                    transform: translateX(150px) translateY(15px);
                }
    
                75% {
                    transform: translateX(200px) translateY(20px);
                }
    
                100% {
                    transform: translateX(250px) translateY(10px);
                }
            }
        }
    }

    .dog-cat-home {
        //貓咪跟狗狗icon
        display: flex;
        align-items: last baseline;
        padding-top: 30px;

        @include desktop {
            justify-content: space-around;
            padding: 50px 100px;
        }

        img {
            width: 100%;
        }

        .walk-cat {
            img {
                @include desktop {
                    width: 150px;
                }
            }
        }

        .walk-dog {
            img {
                @include desktop {
                    width: 220px;
                }
            }
        }

        .shelter-home-icon {
            img {
                @include desktop {
                    width: 600px;
                }
            }
        }
    }

    .foot-print {
        //狗狗腳印
        display: flex;
        justify-content: center;
        align-items: self-start;
        padding-top: 20px;

        @include desktop {
            padding: 20px 0px ;
        }
    }
}

// 跑馬燈動畫一到三
.shelter-marquee-first {
    background-color: $blue-3;
    white-space: nowrap; //內容保持在同一行
    overflow: hidden; //超出的先隱藏

    img {
        //跑馬燈圖片設置動畫
        animation: marquee 12s linear infinite;

        @include desktop {
            width: 100%;
        }
    }

    @keyframes marquee {

        //跑馬燈動畫
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(-100%);
        }
    }
}
.shelter-marquee-second {
    background-color: $yellow-2;
    white-space: nowrap; //內容保持在同一行
    overflow: hidden; //超出的先隱藏

    img {
        //跑馬燈圖片設置動畫
        animation: marquee 12s linear infinite;

        @include desktop {
            width: 100%;
        }
    }

    @keyframes marquee {

        //跑馬燈動畫
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(-100%);
        }
    }
}
.shelter-marquee-third {
    background-color: $brown-2;
    white-space: nowrap; //內容保持在同一行
    overflow: hidden; //超出的先隱藏

    img {
        //跑馬燈圖片設置動畫
        animation: marquee 12s linear infinite;

        @include desktop {
            width: 100%;
        }
    }

    @keyframes marquee {

        //跑馬燈動畫
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(-100%);
        }
    }
}

.shelter-idea-bg {
    //我們的理念
    background-color: rgba(225, 202, 167, 0.5);

    .shelter-idea {
        position: relative;

        .sign_board {
            width: 100%;
            padding: 50px 20px 0px 0px;
            animation: shine 2s infinite alternate;
            
            @include desktop {
                width: 1000px;
                padding: 100px 0px;
            }
        }

        .shelter-idea-title {
            position: absolute;
            top: 35%;
            left: 45%;

            @include desktop {
                top: 45%;
                left: 40%;
                font-size: 40px;
            }
        }
    }

    .shelter-idea-dog {
        position: relative;

        img {
            width: 100%;
            vertical-align: bottom;
        }

        .shelter-idea-dog-word {
            position: absolute;
            top: 30%;
            left: 3%;
            color: $white01;

            @include desktop {
                font-size: 24px;
                top: 50%;
                left: 10%;
            }
        }
    }

    .shelter-idea-cat {
        position: relative;

        img {
            width: 100%;
            vertical-align: bottom;
        }

        .shelter-idea-cat-word {
            position: absolute;
            top: 30%;
            left: 4%;
            color: $white01;

            @include desktop {
                font-size: 24px;
                top: 50%;
                left: 60%;
            }
        }
    }
}

.shelter-adopt-bg {
    background-color: rgba(225, 202, 167, 0.5);

    .shelter-adopt {
        position: relative;

        @include desktop {
            display: flex;
            justify-content: flex-end;
        }

        .black-cat {
            width: 80px;
            position: absolute;
            right: 4%;
            top: 10%;

            @include desktop {
                width: 150px;
                right: 6%;
                top: 17%;
            }
        }

        .sign_board {
            padding: 50px 0px 0px 20px;
            width: 100%;
            animation: shine 2s infinite alternate;

            @include desktop {
                width: 1000px;
                padding: 100px 0px 30px 0px;
            }
        }

        .shelter-adopt-title {
            position: absolute;
            top: 55%;
            left: 25%;

            @include desktop {
                font-size: 40px;
                left: 50%;
            }
        }
    }

    .adopt-cloud-dog {
        position: relative;

        @include desktop {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .hand-dog {
            padding-left: 10px;
            animation: movingDog 1s infinite linear;

            @include desktop {
                width: 450px;
            }

            @keyframes movingDog {
                0% {
                    transform: translateY(5px);
                }

                50% {
                    transform: translateY(10px);
                }

                100% {
                    transform: translateY(5px);
                }
            }
        }

        .line3 {
            position: absolute;
            left: 3%;
            bottom: -5%;

            @include desktop {
                left: 30%;
            }
        }
    }

    .adopt-cloud {
        max-width: 250px;
        position: relative;
        overflow-x: hidden;
        animation: whiteCloudMove 3s infinite linear;

        @include desktop {
            max-width: 500px;
            animation: whiteCloudMove 5s infinite linear;
        }

        @keyframes whiteCloudMove {
            0% {
                transform: translateX(-20px) translateY(10px);
            }

            50% {
                transform: translateX(0px) translateY(15px);
            }

            100% {
                transform: translateX(15px) translateY(10px);
            }
        }

        @include desktop {
            @keyframes whiteCloudMove {
                0% {
                    transform: translateX(0px) translateY(10px);
                }
    
                50% {
                    transform: translateX(50px) translateY(15px);
                }
    
                100% {
                    transform: translateX(100px) translateY(10px);
                }
            }
        }

        .adopt-cloud-words {
            position: absolute;
            top: 45%;
            left: 15%;

            @include desktop {
                left: 30%;
                top: 50%;
            }
        }

        .white_cloud {
            width: 200px;
            padding: 10px 0px;

            @include desktop {
                width: 500px;
            }
        }
    }

    .adopt-steps {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 50px 15px;

        @include desktop {
            padding: 100px 0px;
            gap: 35px;
        }

        img {
            @include desktop {
                width: 200px;
            }
        }

        p {
            @include desktop {
                font-size: 24px;
            }
        }

        .adopt-step1 {
            display: flex;
            align-items: center;
            position: relative;
            gap: 10px;

            @include desktop {
                justify-content: center;
                gap: 20px;
            }

            .step1 {
                color: $blue-1;
                position: absolute;
                left: 8%;
                top: 40%;

                @include desktop {
                    font-size: 32px;
                    left: 38%;
                }
            }
        }

        .adopt-step2 {
            display: flex;
            align-items: center;
            position: relative;
            gap: 10px;

            @include desktop {
                justify-content: center;
                gap: 20px;
            }

            .step2 {
                color: $blue-1;
                position: absolute;
                left: 8%;
                top: 40%;

                @include desktop {
                    font-size: 32px;
                    left: 31.5%;
                }
            }

            .step2-dtls {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .step2-dtl-wrap {
                    background-color: $white01;
                    border-radius: $radius;
                    padding: 10px;

                    @include desktop {
                        padding: 20px;
                    }
                }

                .step2-dtl {
                    padding-left: 10px;
                }
            }
        }

        .adopt-step3 {
            display: flex;
            align-items: center;
            position: relative;
            gap: 10px;

            @include desktop {
                justify-content: center;
                gap: 20px;
            }

            .step3 {
                color: $blue-1;
                position: absolute;
                left: 8%;
                top: 40%;

                @include desktop {
                    font-size: 32px;
                    left: 35.5%;
                }
            }

            .step3-dtls {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .step3-dtl-wrap {
                    background-color: $white01;
                    border-radius: $radius;
                    padding: 10px;

                    @include desktop {
                        padding: 20px;
                    }
                }

                .step3-dtl {
                    padding-left: 10px;
                }
            }
        }

        .adopt-step4 {
            display: flex;
            align-items: center;
            position: relative;
            gap: 10px;

            @include desktop {
                justify-content: center;
                gap: 20px;
            }

            .step4 {
                color: $blue-1;
                position: absolute;
                left: 8%;
                top: 40%;

                @include desktop {
                    font-size: 32px;
                    left: 36.5%;
                }
            }

            .step4-dtls {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .step4-dtl-wrap {
                    background-color: $white01;
                    border-radius: $radius;
                    padding: 10px;

                    @include desktop {
                        padding: 20px;
                    }
                }

                .step4-dtl {
                    padding-left: 10px;
                }
            }
        }

        .adopt-step5 {
            display: flex;
            align-items: center;
            position: relative;
            gap: 10px;

            @include desktop {
                justify-content: center;
                gap: 20px;
            }

            .step5 {
                color: $blue-1;
                position: absolute;
                left: 8%;
                top: 40%;

                @include desktop {
                    font-size: 32px;
                    left: 31.5%;
                }
            }

            .step5-dtls {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .step5-dtl-wrap {
                    background-color: $white01;
                    border-radius: $radius;
                    padding: 10px;

                    @include desktop {
                        padding: 20px;
                    }
                }

                .step5-dtl {
                    padding-left: 10px;
                }
            }
        }

        .adopt-step6 {
            display: flex;
            align-items: center;
            position: relative;
            gap: 10px;

            @include desktop {
                justify-content: center;
                gap: 20px;
            }

            .step6 {
                color: $blue-1;
                position: absolute;
                left: 8%;
                top: 40%;

                @include desktop {
                    font-size: 32px;
                    left: 39.5%;
                }
            }

            .step6-dtls {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }
    }

    .adopt-attention {
        position: relative;
        color: $white01;

        .adopt-dog {
            width: 100%;
            height: 220px;
            vertical-align: bottom;

            @include desktop {
                height: auto;
            }
        }

        .attention-dtl {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            gap: 10px;
            top: 8%;
            left: 7%;

            @include desktop {
                gap: 20px;
                top: 35%;
                left: 12%;
            }

            .attention-title {
                display: flex;
                gap: 5px;

                p {
                    @include desktop {
                        font-size: 28px;
                    }
                }

                img {
                    width: 15px;

                    @include desktop {
                        width: 30px;
                    }
                }
            }

            li {
                list-style: decimal;
                font-size: 13px;

                @include desktop {
                    font-size: 20px;
                    padding-bottom: 10px;
                }
            }
        }
    }
}

.shelter-volunteer-bg {
    //志工活動
    background-color: rgba(225, 202, 167, 0.3);

    .shelter-volunteer {
        position: relative;

        .sign_board {
            width: 100%;
            padding: 50px 20px 0px 0px;
            animation: shine 2s infinite alternate;

            @include desktop {
                width: 1000px;
                padding: 100px 0px;
            }
        }

        .black-cat {
            width: 65px;
            position: absolute;
            top: 17%;
            left: 5%;

            @include desktop {
                width: 120px;
                top: 20%;
                left: 5%;
            }
        }

        .shelter-volunteer-title {
            position: absolute;
            top: 55%;
            right: 25%;

            @include desktop {
                top: 45%;
                left: 40%;
                font-size: 40px;
            }
        }
    }

    .volunteer-cloud {
        position: relative;
        padding: 20px 0px;
        animation: blueCloudMove 3s infinite linear;

        img {
            @include desktop {
                width: 100%;
            }
        }

        @include desktop {
            width: 500px;
            padding: 20px 0px 50px 0px;
        }

        @keyframes blueCloudMove {
            0% {
                transform: translateX(-20px) translateY(-5px);
            }

            50% {
                transform: translateX(-10px) translateY(0px);
            }

            100% {
                transform: translateX(0px) translateY(-5px);
            }
        }

        @include desktop {
            @keyframes blueCloudMove {
                0% {
                    transform: translateX(100px) translateY(5px);
                }
    
                50% {
                    transform: translateX(150px) translateY(0px);
                }
    
                100% {
                    transform: translateX(100px) translateY(5px);
                }
            }
        }

        .volunteer-txt {
            position: absolute;
            top: 50%;
            left: 20%;
            color: $white01;
        }
    }

    .circle-imgs-wrap {
        padding-bottom: 50px;

        .circle-img-top {
            display: flex;
            justify-content: space-around;

            img {
                width: 100px;

                @include desktop {
                    width: 250px;
                }
            }

            :nth-child(1) {
                animation: circleLeft 3s Infinite linear;
            }

            :nth-child(2) {
                animation: circleRight 3s Infinite linear;
            }
        }

        @keyframes circleLeft {
            0% {
                transform: rotateZ(30deg);
            }

            50% {
                transform: rotateZ(0deg);
            }

            100% {
                transform: rotateZ(30deg);
            }
        }

        @keyframes circleRight {
            0% {
                transform: rotateZ(-30deg);
            }

            50% {
                transform: rotateZ(0deg);
            }

            100% {
                transform: rotateZ(-30deg);
            }
        }

        .volunteer-info {
            position: relative;

            @include desktop {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .lines1 {
                position: absolute;
                left: 40%;
                top: -10%;

                @include desktop {
                    left: 45%;
                }
            }

            .lines4 {
                position: absolute;
                right: 3%;
                bottom: 0;

                @include desktop {
                    right: 15%;
                }
            }

            .shape {
                width: 100%;

                @include desktop {
                    width: 1000px;
                }
            }

            .volunteer-dtl {
                position: absolute;
                top: 35%;
                left: 8%;
                font-size: 14px;

                @include desktop {
                    font-size: 24px;
                    top: 45%;
                    left: 35%;
                }
            }

            .contact-btn {
                position: absolute;
                top: 72%;
                left: 25%;
                width: 150px;
                height: 40px;
                border: 0;
                background-color: $blue-4;
                color: $white01;
                border-radius: $radius;

                @include desktop {
                    width: 200px;
                    height: 60px;
                    top: 65%;
                    left: 40%;
                    font-size: 18px;
                }
            }
        }

        .circle-img-bottom {
            display: flex;
            justify-content: space-around;
            padding-top: 10px;

            img {
                width: 100px;

                @include desktop {
                    width: 250px;
                }
            }

            :nth-child(1) {
                animation: circleLeft 3s Infinite linear;
            }

            :nth-child(2) {
                animation: circleRight 3s Infinite linear;
            }
        }
    }
}