.shop-all-wrap {
	width: 100%;
	height: 100%;
	background-color: $blue-1;

	.shop-all-banner {
		.shop-banner-pic{
			position: absolute;
			width: 100%;
			height: 100%;
			aspect-ratio: 2000 / 1300;
			@include desktop{
				height: auto;
				aspect-ratio: 2000 / 480;
			}
		}
		.shop-all-title {
			position: relative;
			text-align: center;
			color: $dark;
			font-size: 2.5rem;
			-webkit-animation: shining 1s alternate infinite;
			animation: shining 1s alternate infinite;
		}

		@keyframes shining {
			from {
				text-shadow: 0 0 1px lightblue, 0 0 6px lightblue;
			}

			to {
				text-shadow: 0 0 1px $yellow-1, 0 0 20px $yellow-1, 0 0 25px $yellow-1, 0 0 10px skyblue, 0 0 15px skyblue, 0 0 20px skyblue;
			}
		}
		position: relative;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		gap: 24px;
		width: 100%;
		height: 240px;
		overflow: hidden;

		background-color: $blue-3;

		.input-group {
			
			display: flex;
			gap: 10px;
			align-items: center;

			.shop-searchbar {
				position: relative;

				border: 2px solid transparent;
				width: 200px;
				height: 2.5em;
				padding-left: 0.8em;
				outline: none;
				overflow: hidden;
				background-color: #F3F3F3;
				border-radius: 10px;
				transition: all 0.5s;
				background: linear-gradient(to bottom,rgb(248, 244, 255),rgb(250, 232, 232));
				border: 2px solid #4a9eec1a;


				&:focus,
				&:hover {
					border: 2px solid #4A9DEC;
					box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
					background-color: white;
				}

				@include tablet {
					width: 340px;
				}

				@include desktop {
					width: 400px;
				}
			}

			.search-shop {
				position: relative;
				transition: all 0.3s ease-in-out;
				box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
				padding-block: 0.5rem;
				padding-inline: 0.5rem;
				background-color: $blue-3;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #ffff;
				gap: 10px;
				font-weight: bold;
				border: 3px solid #ffffff4d;
				outline: none;
				overflow: hidden;
				font-size: 15px;
				cursor: pointer;
			}

			.search-shop:hover {
				transform: scale(1.05);
				border-color: #fff9;
			}

			.search-shop:hover .icon {
				transform: translate(4px);
			}

			.search-shop:hover::before {
				animation: shine 1.5s ease-out infinite;
			}

			.search-shop::before {
				content: "";
				position: absolute;
				width: 100px;
				height: 100%;
				background-image: linear-gradient(120deg,
						rgba(255, 255, 255, 0) 30%,
						rgba(255, 255, 255, 0.8),
						rgba(255, 255, 255, 0) 70%);
				top: 0;
				left: -100px;
				opacity: 0.6;
			}

			@keyframes shine {
				0% {
					left: -100px;
				}

				60% {
					left: 100%;
				}

				to {
					left: 100%;
				}
			}
		}



	}

	.shop-all-container {
		max-width: 1200px;
		margin: auto;
		height: 100%;
		padding: 20px;



		.shop-select-button {
			display: flex;
			justify-content: flex-end;
			gap: 8px;
			padding: 8px;
		}

		.drop-down-button {
			padding-top: 20px;
			display: flex;
			gap: 4px;
			align-self: flex-end;
		}

		.shop-all-list {
			display: grid;
			gap: 20px;
			grid-template-columns: 1fr 1fr;
			width: 100%;
			height: 100%;
			justify-content: center;
			margin-top: 20px;

			@include desktop {
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}

			.shop-all-card {
				position: relative;
				height: 100%;
				padding: 20px;
				// aspect-ratio: 285 / 340;
				border: 2px solid $dark-gray;
				border-radius: 40px;
				background-color: #fff;
				transition: all 0.3s ease;


				@include desktop {
					border-radius: 50px;
				}

				&:hover {
					border: 2px solid $yellow-3;
					transform: scale(1.05);
					box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);

					.catdogHover {
						display: block;
						position: absolute;
						top: -62px;
						left: 50%;
						transform: translatex(-50%);
						width: 80px;
						opacity: 1;
						transition: all .3s;
						z-index: 0;
					}
				}

				.shop-card-content {
					color: $dark;
				}

				img {
					width: 100%;
					aspect-ratio: 1/1;
					border-radius: 20px;

					@include desktop {
						border-radius: 30px;
					}
				}

				.shop-card-title {
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
				}

				.catdogHover {
					position: absolute;
					top: 0px;
					left: 50%;
					transform: translatex(-50%);
					width: 80px;
					opacity: 0;
					z-index: -1;
				}
			}
		}
	}

	@include tablet {
		.shop-all-list {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}

	@include desktop {
		.shop-all-container {
			max-width: 1200px;
		}
	}

	.input-group {
		.shop-searchbar {
			width: 200px;
		}

		button {
			margin-left: 5px;
			border-radius: 12px;
			padding: 2px 8px;
			background-color: aliceblue;
			border: none;
		}
	}
}