@import "_mixin.scss";

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
p,
.tinyp,
.footerp {
  font-family: "Inter", sans-serif; // Inter 字型，假設這裡也適用於中文
}

h1,
.h1 {
  @include font-style(64px, 700, 10%, 125%);
}

h2,
.h2 {
  @include font-style(40px, 700, 10%, 125%);
}

h3,
.h3 {
  @include font-style(32px, 400, 2%, 125%);
}

h4,
.h4 {
  @include font-style(24px, 400, 1%, 125%);
}

p,
.p {
  @include font-style(20px, 400, 1%, 160%);
}

.tinyp {
  @include font-style(16px, 400, 1%, 160%);
}

.footerp {
  @include font-style(12px, 400, 1%, 160%);
}

.title {
  line-height: 125%;
}

.text {
  line-height: 160%;
}

.list {
  line-height: 180%;
}
